<mat-toolbar class="transparente">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon style="color:white">account_circle</mat-icon>
   </button>
   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
     <mat-icon style="color:white">favorite</mat-icon>
   </button>
   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon style="color:white">notifications</mat-icon>
  </button>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon style="color:white">share</mat-icon>
  </button>
 </mat-toolbar>