<mat-list>
    <div mat-subheader>CHATS</div>
    <mat-list-item>
            <div matListItemTitle>Carlos Pena</div>
            <div matListItemLine>30/05/23</div>  
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>Carlos Pena</div>
        <div matListItemLine>30/05/23</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>Carlos Pena</div>
        <div matListItemLine>30/05/23</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>Carlos Pena</div>
        <div matListItemLine>30/05/23</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>Carlos Pena</div>
        <div matListItemLine>30/05/23</div>
      </mat-list-item>
      <mat-divider></mat-divider>
  </mat-list>
  

